@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

/* RESETS */
p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background: darkslategray;
  font-family: 'Titillium Web', sans-serif;
}