.signin-form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.signin-form {
  width: 80%;
  background: white;
  padding: 3rem;
  text-align: center;
  border-radius: 8px;
}

#email, #password, #firstName, #lastName {
  width: 100%;
  height: 20px;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}

.sbtbtn {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  background: rgb(0, 10, 153);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sbtbtn:hover {
  background: rgb(0, 15, 231);
}